<nav class="top-bar hide-for-small" style="background-color: #517fa4; height: 50px; ">
	<ul class="title-area">
		<!-- Title Area -->
		<li class="name">
	  		<h1>
	    		<a href="#" style="font-size: 24px;">
	      			Stocktastic
	    		</a>
	  		</h1>
		</li>
	</ul>

	<section class="top-bar-section" style="left: 0%;">
		<!-- Right Nav Section -->
		<ul class="right">
			<li class=""><a href="#" style="background-color: #517fa4; font-size: 14px;">Documentation</a></li>
		</ul>
	</section>
</nav>
<div class="row">
	<div class="large-12">
		<div class="panel" style="margin-top: 25px; position: relative; height:52px; background: #C3D0EB;">
			
			<!-- <div id="highlight"></div>

	<div contenteditable="true" id="queryBox">when increase decrease use portfolio for</div> -->
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12">
		<div class="panel" id="container" style="background: #C3D0EB;"></div>
			<div class="panel" style="background: #C3D0EB;">
		<table style="width: 100%;">
  <thead>
    <tr>
      <th>Date</th>
      <th>Price</th>
      <th>Volume</th>
      <th>P/L</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>09/28/13</td>
      <td>&#36;475.13</td>
      <td>09/28/13</td>
      <td>&#36;481.53</td>
      <td>3 Days</td>
      <td>10,000</td>
      <td>+ &#36;30.00</td>
    </tr>
        <tr>
      <td>09/28/13</td>
      <td>&#36;475.13</td>
      <td>09/28/13</td>
      <td>&#36;481.53</td>
      <td>3 Days</td>
      <td>10,000</td>
      <td>+ &#36;30.00</td>
    </tr>
        <tr>
      <td>09/28/13</td>
      <td>&#36;475.13</td>
      <td>09/28/13</td>
      <td>&#36;481.53</td>
      <td>3 Days</td>
      <td>10,000</td>
      <td>+ &#36;30.00</td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>  