<div class="row">
	<div class="large-12">
		<div class="panel" style="margin-top: 25px; position: relative; height:130px; background: #C3D0EB;">
			
			<div id="highlight"></div>

	<div contenteditable="true" id="queryBox"></div>

  <div id="highlightExit"></div>

  <div contenteditable="true" id="exitBox"></div>
	
	<a href="#" class="small button large-3" style="float:right; position: absolute; top:90px; right: 10px" id="executeStrategy" data-id="<%= current_user.id %>">Execute Query</a>


		</div>
	</div>
</div>
<div class="row">
	<div class="large-12">

		<div class="panel" id="container" style="background: #C3D0EB;" hidden></div>
    </div>
			<div class="panel" style="background: #C3D0EB;" id="datatable" hidden>

        <a href="#" class="small button large-3" style="float:right;" id="addStrategy" data-id="<%= current_user.id %>">Add to Portfolio!</a>
		<table style="width: 100%;">
  <thead>
    <tr>
      <th>Date</th>
      <th>Price</th>
      <th>Buy or Sell</th>
    </tr>
  </thead>
  <tbody id="tableBody">

  </tbody>
</table>
</div>
</div>
</div>  