<div class="row">
			<div class="panel" style="background: #C3D0EB;">
		<table style="width: 100%;">
  <thead>
    <tr>
      <th>Query</th>
      <th>Callback</th>
      <th>Start Date</th>
    </tr>
  </thead>
  <tbody>
    <% @strategies.each do |strategy| %>
      <tr>
        <td><%= strategy.query %></td>
        <td><%= strategy.callback %></td>
        <td><%= strategy.start_date %></td>
      </tr>
      <% end %>
  </tbody>
</table>
</div>
</div>
</div>  