div#queryBox {
  position:absolute;
  top: 10px;
  left:20px;
  border: solid black 1px;
  width: 96%;
  height: 30px;
  padding-top: 5px;
  padding-left: 5px;
  background: white;
  border: 1px solid #cccccc;
  opacity: 0;
}

div#highlight {
  position:absolute;
  top: 10px;
  left:20px;
  border: solid black 1px;
  width: 96%;
  height: 30px;
  padding-top: 5px;
  padding-left: 5px;
  background: white;
  border: 1px solid #cccccc;
}

div#exitBox {
  position:absolute;
  top: 30px;
  left:20px;
  border: solid black 1px;
  width: 96%;
  height: 30px;
  padding-top: 5px;
  padding-left: 5px;
  background: white;
  border: 1px solid #cccccc;
  opacity: 0;
}

div#highlightExit {
  position:absolute;
  top: 30px;
  left:20px;
  border: solid black 1px;
  width: 96%;
  height: 30px;
  padding-top: 5px;
  padding-left: 5px;
  background: white;
  border: 1px solid #cccccc;
}


.symbol {
  color: red;
}

.when {
  color: blue;
}

.increase {
  color: green;
}

.decrease {
  color: #CC333F;
}

.use {
  color: #00A0B0;
}

.portfolio {
  color: #00A0B0;
}

.for {
  color: #6A4A3C;
}

